#banerPerfil{
  background-color: #f3f2f0;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f3f2f0));
  background-image: -webkit-linear-gradient(#fff,#f3f2f0);
  background-image: linear-gradient(#fff,#f3f2f0);
  width: 100%;
  height: 350px;
}
  #menuperfil{
    display: flex;
    height: 20%;
    width: 90%;
    margin: auto;
  }
  #Arealogito{
    width: 10%;
    height: 100%;
  }
  .Areamenicito{
    width: 10%;
    height: 100%;
  }
  #Espbanerperfil{
    width: 30%;
    height: 100%;
  }
  #centroayuda{
    width: 15%;
    height: 100%;
  }
  #notificaciones{
    width: 7%;
    height: 100%;
  }

  #notificaciones img{
    cursor: pointer;
  }

  #Edicion{
    display: flex;
    width: 90%;
    height: 20%;
    margin: auto;
  }
  #e1{
    margin-left: 5%;
    margin-top: 1%;
    width: 15%;
    height: 100%;
  }
  #e2{
    margin-top: 1%;
    width: 15%;
    height: 100%;
  }
  #e3{
    width: 50%;
    height: 100%;
  }
  #e4{
    width: 20%;
    height: 100%;
  }
  #cuerpoperfil{
    width: 100%;
    height: auto;
  }
  #iconperfil{
      width: 55%;
      height: auto;
      margin-left: 20%;
  }

  #iconocarta{
    color: #f8a234;
  }
  
  #nombredesigner{
     font-weight: 600;
     font-size: 25px;
  }
  #btneditar{
    border: 0;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 3px;
    background-color: #eea950;
    text-decoration: none;
  }
  #btneditar:hover{
    opacity: 0.8;
  }
  #descri_dise{
    margin-top: 10%;
    margin-left: 20%;
    font-weight: bold;
    color: #30444d;
  }
  .aa1{
    padding: 10px;
    background: transparent;
    font-size: 17px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 200;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .5s linear;
    border: 2px solid;
  }
  .aa1.bordeado{
    color:  #fff;
    background: #4e4d4c;
  }

  .aa2{
    text-decoration: none;
    color: #30444d;
    font-weight:bold;
  }
  #portafolio{
    width: 100%;
    height: auto;
  }
  
  .porta1{
    display: inline-block;
    margin: 0 0 5px;
    width: 100%;
  }

  #llenar{
    column-count: 4;
    column-gap: 10px;
  }

  #llenar img{
    width: 100%;
  }

  #container-vacio{
    text-align: center;
    height: 500px;
    width: 100%;
  }

  .btn-eliminar-porta{
    padding: 12px;
    transition: 0.5s;
    margin-top: 10%;
    margin-left: -6%;
    position: absolute;
    border: 0;
    background: #dc121e;
    color: #fff;
    border-radius: 3px;
    transform: scale(0);
    cursor: pointer;
  }

  .rr2:hover + .btn-eliminar-porta{
    transform: scale(1);
  }
  .btn-eliminar-porta:hover{
    transform: scale(1);
  }

  #demi{
    width: 99%;
    height: 75%;
  }
  #perfilp1{
    font-size: 25px;
    font-weight: bold;
    color: #aaa4b1;
  }
  
  #perfilp2{
    color: #aaa4b1;
  }
  #btnañadir{
    padding: 15px;
    background-color: #b5a6ae;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  #galeria{
    filter: grayscale();
  }
  #demiizquierdo{
    width: 30%;
    height: 100%;
  }
  #sobremi_p{
    margin-top: 15%;
    margin-left: 20%;
    font-size: 30px;
    font-weight: bold;
    color: #30444d;
  }
  #demiderecho{
    width: 70%;
    height: 100%;
  }
  .atributos{
    color: #30444d;
    font-size: 20px;
    margin-top: 7%;
    margin-left: 20%;
  }
  #cerrarsesion{
    width: 5%;
    height: 100%;
  }
  
  .perfilmini{
    margin-top: 22px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
  }

  #cerrarmenu{
    background-color: transparent;
    list-style: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    width: 100%;
    height: auto;
    padding: 20px;
    transform: translateY(-20%);
    opacity: 0;
  }

  #cerrarmenu.active{
    transform: translateY(0);
    opacity: 1;
  }

  #cerrarmenu a{
    cursor: pointer;
  }

  .aa3{
    text-decoration: none;
    color:  #30444d;
  }
  .aa3:hover{
    text-decoration: underline;
  }
  @keyframes abrir {
      0% {
        height: 0%;
        padding: 0;}
      /* 25% {height: 25%;}
      50% {height: 50%;}
      75% {height: 75%;} */
      100% {
        height: 110px;
        padding: 30px;
      }
  }
  
  @keyframes ccc {
    0% {
      height: 110px;
      padding: 30px;
    }
  
    100% {
      height: 0px;
      padding: 0px;
    }
  }

  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.cont-porta{
  margin-left: 45%;
}

.cont-alert .btn-aceptar{
  margin-top: 3%;
  padding: 11px;
  border: none;
  background: #62595c;
  color: #fff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.cont-alert .btn-cancel{
  margin-left: 5%;
  margin-top: 3%;
  padding: 11px;
  border: none;
  background: rgb(224, 65, 65);
  color: #fff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

#err{
  margin-top: 8%;
  font-size: 120px;
  color: rgb(68, 41, 224);
}

#dan{
  margin-top: 8%;
  font-size: 120px;
  color: rgb(223, 54, 54);
}


#desc_designer{
  margin-left: 20%;
  color: #30444d;
  font-weight: bold;
}

#fotico:hover .img-box{
  opacity: .5;
}

i{
  font-size: 50px;
  color: #30444d;
  cursor: pointer;
}

.mosaicMenu{
  position: relative;
  left: -210px;
}

.content-info h2{
  color: #e9803d;
}

.btn-cl{
  right: -8px;
  right: calc(8px + constant(safe-area-inset-right));
  position: relative;
  z-index: 3;
  width: 38px;
  height: 44px;
  top: 0;
  left: 90%;
  opacity: 1;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: none;
  outline:none;
}

.cl-search{
  display: block;
  width: 100%;
  height: 100%;
}

.cl-IZ{
  right: 10px;
  -webkit-transform: scale3d(1, 0.65, 1);
  transform: scale3d(1, 0.65, 1);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;

  height: 22px;
  width: 2px;
  background: rgb(85, 84, 84);
  position: absolute;
  display: block;
  top: 11px;
  z-index: 1;
}



.cl-DE{
  left: 10px;
  -webkit-transform: scale3d(1, 0.65, 1);
  transform: scale3d(1, 0.65, 1);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;

  height: 22px;
  width: 2px;
  background: #000;
  position: absolute;
  display: block;
  top: 11px;
  z-index: 1;
}


.cl-DE{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 1;
}

.cl-IZ{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 1;
}

.btn-portfolio{
  font-size: 15px;
  padding: 5px;
  border: none;
  outline: none;
}

.buttons-portfolio{
  display: flex;
}

.btn-red{
  margin-left: 10px;
  background: rgb(212, 28, 28);
  color: #fff;
  border-radius: 2px;
}

.btn-light{
  margin-left: 10px;
  background: rgb(212, 207, 207);
  border-radius: 2px;
}

.contenido{
  width: 100%;
}

.cont-alert{
  display: flex;
  align-items: center;
}