footer{
  margin-top: 20px;
  background-color: #f5f5f7;
  width: 100%;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
.footer-header{
  display: flex;
  width: 75%;
  margin: 20px auto;
  text-align: center;
  align-items: center;
  font-size: 13px;
  color: rgb(107, 105, 105);
  font-weight: 100;
}

.social-icons{
  width: 75%;
  margin: auto;
}
.links-footer{
  display: flex;
  margin: auto;
  width: 75%;
  font-size: 13px;
}

.column-footer{
  flex: 1;    
}

.column-footer ul{
  list-style: none;
}

.column-footer ul li{
  padding-bottom: 6px;
}

.column-footer ul li a{
  text-decoration: none;
  color: rgb(107, 105, 105);
}

.column-footer ul li a:hover{ 
  text-decoration: underline;
}

.linear{
  height: 1px;
  width: 75%;
  margin: auto;
  background: rgb(218, 214, 214);
}

.copyright{
  width: 75%;
  margin: 10px auto;
  font-size: 13px;
  color: rgb(107, 105, 105);
}