<footer>
  <div class="footer-header">
    <p>Siguenos en nuestras redes</p>
    <div class="social-icons"><app-redes></app-redes></div>
    <div class="linear"></div>
  </div>
  <div class="links-footer">
    <div class="column-footer">
      <ul>
        <li><strong>Descubre</strong></li>
        <li><a href="#">Comidas</a></li>
        <li><a href="#">Restaurantes</a></li>
        <li><a href="#">Acompañantes</a></li>
        <li><a href="#">Otros</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <ul>
        <li><strong>Clientes</strong></li>
        <li><a href="#">Para ti</a></li>
        <li><a href="#">Para tu familia</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <ul>
        <li><strong>Principios</strong></li>
        <li><a href="#">Accecibilidad</a></li>
        <li><a href="#">Servicio</a></li>
        <li><a href="#">Compañia</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <ul>
        <li><strong>Acerca de Dimelo</strong></li>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Preguntas</a></li>
        <li><a href="#">reclamos</a></li>
      </ul>
    </div>
  </div>
  <div class="linear"></div>
  <div class="copyright">Derechos GetYourDesign</div>
</footer>