<footer>
  <div class="footer-header">
    <br>
    <p class="info-footer">* $19.900 al mes al finalizar el periodo de prueba gratis. Sin compromisos. El plan se renovará automáticamente hasta que se cancele.</p> 
  </div>
  
  <div class="linear"></div>
  <div class="links-footer">
    <div class="column-footer">
      <ul>
        <li><strong>Descubre</strong></li>
        <li><a href="#">Diseñadores</a></li>
        <li><a href="#">Diseños</a></li>
        <li><a href="#">Tops</a></li>
        <li><a href="#">Otros</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <ul>
        <li><strong>Clientes</strong></li>
        <li><a href="#">Para ti</a></li>
        <li><a href="#">Para tu familia</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <ul>
        <li><strong>Principios</strong></li>
        <li><a href="#">Accecibilidad</a></li>
        <li><a href="#">Servicio</a></li>
        <li><a href="#">Compañia</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <ul>
        <li><strong>Acerca de GyD</strong></li>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Preguntas</a></li>
        <li><a href="#">reclamos</a></li>
      </ul>
    </div>
  </div>
  <div class="social-icons"><app-redes></app-redes></div>
  <div class="linear"></div>
  <div class="copyright">Copyright © 2020 GetYourDesign. Todos los derechos reservados.</div>
</footer>