<div id="PiePagina">
  <div id="Pie1">
    <div id="Pie11">
      <div id="AreaEsp2"></div>
      <div id="Fraseredes"><p id="PREDES">Nuestras<br>redes</p></div>
        <app-redes></app-redes>
    </div>
    <div id="Pie22">
      <p id="Info">Mas sobre Get Your Design</p>
      <p id="Info2">Acerca de nosotros<br>Politica de privacidad<br>Preguntas frecuentes<br>Sugerencias a la plataforma</p>
    </div>
  </div>
  <div id="Pie2"><p id="Copyright">© 2018 Copyright Get Your Design</p></div>
</div>

