<div class="modal" (click)="CloseComponent($event)">
    <img src="{{urlPortafolio}}" alt="" class="full-img">
    <div class="portfolio-information">
        <div class="header-portfolio">
            <p>Author</p>
            <p>Juanda</p>
            <div class="cont-author"><img src="http://localhost:8080/Angular7GYDBackend/portafolios/image-1581452636-diseño3.jpg" class="img-author"></div>
        </div>
        <div class="data-portfolio">
            <h2>Disrecpect</h2>
            <p> La imaginacion nos juega aveces una carga psicologica en la cual el pensamiento tiene como accion motora promover la creatividad y el desarrollo de funciones del ser. Estas pueden influenciarse por este mismo, el destino y la aceptacion de dicho individio.</p>
            <h3>Likes</h3>
            50
            <h3>Tags</h3>
            <p>#Psicologia, #pensamiento, #Reflexion, #Instagramer</p>
        </div>
    </div>
</div>