.card-img{
    width: 100%;
    height: 100%;
  }
  /* body{
    margin: 0;
    padding: 0;
  } */
  .containerr{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    height: auto;
    align-items: center;
  }
  .containerr .card{
    position: relative;
    width: 100%;
    align-items: center;
    height: 440px;
    background: #000;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.5s;
  }
  .containerr .card .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  .containerr .card:hover .img-box{
    opacity: 0.5;
  }
  .containerr .card .img-box img{
    width: 100%;
  }
  .containerr .card .content{
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
  }
  
  .containerr .card:hover .content{
    bottom: 0;
  }
  
  .containerr .card:nth-child(1) .content{
    background: linear-gradient(0deg, #c21833, transparent);
  }
  
  .containerr .card:nth-child(2) .content{
    background: linear-gradient(0deg, #8012a5, transparent);
  }
  
  .containerr .card:nth-child(3) .content{
    background: linear-gradient(0deg, #3a414c, transparent);
  }
  
  .containerr .card .content h2{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
  }
  .containerr .card .content h2 span{
    color: #ffeb3b;
    font-size: 16px;
  }
  .containerr .card .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
  }
  .containerr .card .content ul{
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .containerr .card .content ul li{
    list-style: none;
  }
  .containerr .card .content ul li a{
    color: #fff;
    padding: 0 10px;
    font-size: 18px;
  }
  .containerr .card:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2);
  }
  @media only screen and (min-width: 1500px) {
    .containerr{
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)) !important;
    }
    .containerr .card{
      width: 400px;
    }
  }
  