<div class="contentMosaic">
    <div class="mosaic">
        <div class="mosaic-item">
          <img src="../../../assets/RECURSOS/Icons/icons8-ajustes-100.png" alt="">
          <p>Ajustes</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Icons/icons8-proyecto-100.png" alt="">
            <p>Proyectos</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Icons/icons8-contactos-100.png" alt="">
            <p>Contactos</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Icons/icons8-llave-100.png" alt="">
            <p>Contraseña</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Icons/icons8-mensaje-relleno-50.png" alt="">
            <p>Contraseña</p>
        </div>
    </div>
</div>
