<div class="contentMosaic">
    <div class="mosaic">
        <div class="mosaic-item">
          <img src="../../../assets/RECURSOS/Utilidades/Ajustes.png" alt="">
          <p>Ajustes</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/icons8-gestión-de-proyectos-48.png" alt="">
            <p>Proyectos</p>
        </div>
        <div class="mosaic-item" (click)="GoTo('/perfil/mensajes')">
            <img src="../../../assets/RECURSOS/Utilidades/Mensaje.png" alt="">
            <p>Mensajes</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/Llave.png" alt="">
            <p>Contraseña</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/Privacidad.png" alt="">
            <p>Privacidad</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/contactos.png" alt="">
            <p>Clientes</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/colaboracion.png" alt="">
            <p>Colaboración</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/share.png" width="45" alt="">
            <p>Compartir</p>
        </div>
        
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/Calendario.png" alt="">
            <p>Planificar</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/Portafolios.png" alt="">
            <p>Portafolios</p>
        </div>
        
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Icons/icons8-contactos-100.png" alt="">
            <p>Contactos</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/3d.png" alt="">
            <p>Modelos</p>
        </div>
        <div class="mosaic-item">
            <img src="../../../assets/RECURSOS/Utilidades/icons8-preguntas-más-frecuentes-48.png" alt="">
            <p>Preguntas frecuentes</p>
        </div>
    </div>
</div>
