<main>
  <section class="presentation">
    <div class="introduccion">

      <div class="intro-text" *ngIf="slide == 1">
        <h1>Ilustraciones</h1>
        <p>Las Ilustraciones son uno de los tantos diseños en GetYourDesign.</p>
      </div>

      <div class="intro-text" *ngIf="slide == 2">
        <h1>Acesorios</h1>
        <p>Ropas o acesorios personalizadas por tu diseñador favorito.</p>
      </div>

      <div class="intro-text" *ngIf="slide == 3">
        <h1>Logotipos</h1>
        <p>Logotipos, logos o imganes publicitarias para tu empresa.</p>
      </div>

      <div class="cta">
        <a href="#" class="btn-com">Explorar los diseños</a>
      </div>
    </div>
    <div class="cover">
      <img src="../../assets/RECURSOS/imges-slide/Img1.svg" alt="matebook" *ngIf="slide == 1">
      <img src="../../assets/RECURSOS/imges-slide/camiseta.png" alt="matebook" *ngIf="slide == 2" id="conjunto">
      <img src="../../assets/RECURSOS/imges-slide/logo.png" alt="matebook" *ngIf="slide == 3">
    </div>
  </section>
  <div class="laptop-select">
    <i class="fa fa-chevron-left" aria-hidden="true" (click)="onSlide('back',false)"></i>
    <div class="dot" [ngClass]="{'activado' : slide == 1}" (click)="onSlide(1,true)"></div>
    <div class="dot" [ngClass]="{'activado' : slide == 2}" (click)="onSlide(2,true)"></div>
    <div class="dot" [ngClass]="{'activado' : slide == 3}" (click)="onSlide(3,true)"></div>
    <i class="fa fa-chevron-right" aria-hidden="true" (click)="onSlide('next',false)"></i>
    
  </div>

  <img class="big-circle" src="../../assets/RECURSOS/imges-slide/big-eclipse.svg" alt="">
  <img class="mid-circle" src="../../assets/RECURSOS/imges-slide/mid-eclipse.svg" alt="">
  <img class="small-circle" src="../../assets/RECURSOS/imges-slide/small-eclipse.svg" alt="">
</main>