@keyframes desvanecer {
    0% 
    {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% 
    {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes aparecer {
    0% 
    {
      transform: translateX(100px);
      opacity: 0;
    }
    100% 
    {
      transform: translateX(0px);
      opacity: 1;
    }
  }

#fila5Registro{
    display: flex;
    width: 100%;
  }
  #fila1Registro{
    display: flex;
  }
  #fila4Registro{
    display: flex;
  }
  .input_registro{
    padding: 15px;
    margin: 2%;
    border: 0;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
  }
  .boxreg{
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin: 8% auto;
    width: 500px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: white;
    animation: desvanecer .7s;
    transition: all 1.5s;
    overflow: hidden;
  }
  #largo1,#largo2,#largo3{
    width: 92%;
  }
  #largo3{
    color: black;
  }
  .A8:invalid{
    color:red;
  }
  .boxreg2{
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin: 8% auto;
    width: 500px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: white;
    /*display: none;*/
    animation: aparecer .7s;
    transition: all 1.5s;
  }
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  .inputfile + .label {
      font-size: 15px;
      font-weight: 600;
      color: white;
      background-color: #aa48ee;
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      margin-left: 10%;
      height: 60%;
      width: 28%;
      overflow: hidden;
  }
  
  .inputfile:focus + .label,
  .inputfile + .label:hover {
      background-color: #881bc3;
  }
  .inputfile + label {
      cursor: pointer; /* "hand" cursor */
  }
  #Areabotones{
    width: 100%;
    height: auto;
    display: flex;
  }
  #btnvolver{
    margin-left: 2%;
    padding: 15px;
    border: 0;
    color: white;
    background-color: #62595c;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
  }
  #btnregistro{
    margin-left: 55%;
    padding: 15px;
    border: 0;
    color: white;
    background-color: #e9803d;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
  }

  #btnregistro:disabled{
    cursor: no-drop;
  }

  #btnseguirreg:disabled{
    cursor: no-drop;
  }
  #btnseguirreg{
    margin-left: 78%;
    padding: 15px;
    border: 0;
    color: white;
    background-color: #e9803d;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
  }
  .content-check{
    width: 20px;
    height: 20px;
  }
  #check-condiciones{
    position: relative;
    top: 15px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    transition: .5s;
  }
  #check-condiciones::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid #62595c;
    box-sizing: border-box;
    border-radius: 2px;
    transition: .5s;
  }
  #check-condiciones:checked::before{
    border-left: none;
    border-top: none;
    width: 10px;
    border-color: #0f0;
    transform: rotate(45deg) translate(.5px, -2px);
  }
  #fila4Registro p{
    margin-left: 4%;
    font-size: 14px;
    color: #30444d;
  }
  #fila5Registro p{
    margin-left: 4%;
    font-size: 14px;
    color: #30444d;
  }
  .a-condiciones{
    color: #e9803d;
    cursor: pointer;
  }
  .contenedor-condiciones{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 600px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: white;
    /*animation: aparecer 1.1s;*/
    transition: all 1.5s;
    overflow: scroll;
  }
  .contenedor-condiciones button{
    margin-left: 85%;
    padding: 12px;
    border: 0;
    color: white;
    background-color: red;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .message-valid{
    margin-left: 3%;
    padding: 5px;
    background: red;
    font-size: 12px;
    border-radius : 6px; 
    color: #fff;
  }

  .contenido{
    width: 70%;
    margin-left: 15%;
  }
#err{
    margin-top: 8%;
    font-size: 120px;
    color: rgb(224, 78, 41);
}

#succ{
  margin-top: 8%;
  font-size: 120px;
  color: rgb(53, 204, 91);
}
.cont-btns{
  width: 100%;
  margin-top: 3%;
}

.cont-alert button{
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  padding: 11px;
  border: none;
  background: #62595c;
  color: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

h1, h2{
  color: #e9803d;
}