<section class="part1">
  <div class="part1-de">
    <app-slider></app-slider>
  </div>
</section>

<section class="section-pack">
  <div class="introduccion-image">
    <img src="../../assets/RECURSOS/imges-slide/Conjunto.png" alt="">
  </div>
  <div class="content-text-left">
    <div class="introduccion-text-left">
      <h2>Soluciones de diseño para agencias</h2>
      <p>Amplía tu plantilla en un momento: nuestra red global de diseñadores freelance a tu entera disposición. Con nuestro servicio premium para agencias, te ponemos en contacto con el diseñador adecuado para cada uno de tus proyectos.
      </p>
    </div>
  </div>
</section>

<section class="part2">
  <div class="part2-iz">
    <div class="introduccion-text">
      <h2>Tu lo pides otro lo diseña</h2>
      <p>GetYourDesign te permitirá
      encontrar  y  contratar a 
      diseñadores talentosos 
      y asi acceder al diseño 
      que estas buscando.
      </p>
    </div> 
  </div>
  <div class="part2-de">
    <img src="../../assets/RECURSOS/imges-slide/publicidad.png" id="img-designer">
  </div>
</section>

<section class="part4">
  <div class="introduccion-text-center">
    <h2>Un trabajo directo</h2>
    <p>Podrás encontrar un diseñador con las habilidades apropiadas y requeridas para tus necesidades
    asi podras colaborar de manera individualizada con el diseñador siendo una relacion uno a uno hasta
    conseguir el diseño ideal.
    </p>
  </div>
    
  <div class="content-a">
    <a href="#" class="btn-com">COMIENZA YA</a>
  </div>
</section>

<section class="part3">
  <app-cartas></app-cartas>
</section>

<app-footer></app-footer>
