<div class="loadcont" *ngIf="!designers">
    <div class="loader" >
        <span>Get Your Design</span>
    </div>
</div>

<div id="contenedorresultados">
    <li id="li-result" *ngFor="let designer of designers">
        <div id="cuerporanking">

        <div class="Designernum1">
          <div class="Rankimg"><img src="{{resouces}}uploads/{{designer.foto_disenador}}" class="rr1"></div>
          <div class="Rankdesc">
 
            <p class="ranknombre">{{designer.Usuario_disenador}}</p><br>
            <a class="contactodesi" routerLink="/detalle-diseñador/{{designer.Usuario_disenador}}">VER PREFIL</a><br><br>
            <p class="txtdesigner">Puntuacion promedio<br>4.9 estrellas</p>
            <p class="txtdesigner"></p>
          </div>
            <div class="Rankdise1" *ngFor="let p1 of port1">      
                <img *ngIf="p1.Documento_identidad == designer.Documento_identidad" src="http://localhost:89/Angular7GYDBackend/portafolios/{{p1.Nombre_foto_portafolio}}" class="diseñocss">
            </div>
            <div class="Rankdise1" *ngFor="let p2 of port2">      
                    <img *ngIf="p2.Documento_identidad == designer.Documento_identidad" src="http://localhost:89/Angular7GYDBackend/portafolios/{{p2.Nombre_foto_portafolio}}" class="diseñocss">
            </div>
            <div class="Rankdise1" *ngFor="let p3 of port3">      
              <img *ngIf="p3.Documento_identidad == designer.Documento_identidad" src="http://localhost:89/Angular7GYDBackend/portafolios/{{p3.Nombre_foto_portafolio}}" class="diseñocss">
            </div>
        </div>

      </div>
       </li>
</div>

<app-footer></app-footer>