<div class="loadcont" *ngIf="!designers">
    <div class="loader" >
        <span>Get Your Design</span>
    </div>
</div>

<div id="contenedorresultados">
    <li id="li-result" *ngFor="let designer of designers">
        <div id="cuerporanking">

        <div class="Designernum1">
          <div class="Rankimg"><img src="{{resouces}}uploads/{{designer.foto_disenador}}" class="rr1"></div>
          <div class="Rankdesc">
 
            <p class="ranknombre" (click)="GoTo(designer.Usuario_disenador)">{{designer.Usuario_disenador}}</p><br>
            <a class="contactodesi" routerLink="/detalle-diseñador/{{designer.Usuario_disenador}}">VER PREFIL</a><br><br>
            <p class="txtdesigner">Puntuacion promedio<br>4.9 estrellas</p>
            <p class="txtdesigner"></p>
          </div>
            <div class="Rankdise1" *ngFor="let portfolio of designer.Portfolios">   
              <img src="http://localhost:8080/Angular7GYDBackend/portafolios/{{portfolio.Nombre_foto_portafolio}}" class="diseñocss">
            </div>
        </div>

      </div>
       </li>
</div>

<app-footer></app-footer>