#cuerporanking{
    height: 300px;
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
  }
  .Designernum1{
    display: flex;
    height: 250px;
    width: 100%;
    margin-top: 1%;
  }
  .Designernum1:nth-child(4){
    margin-bottom: 6%;
  }

  .Rankdise1{
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 5px 9px rgba(0,0,0,.1);
    margin-left: 10px;
    flex: 1;
  }

  .Rankdise1:hover{
    box-shadow: 0 5px 50px rgba(0,0,0,.1);
  }
  .contactodesi{
    padding: 10px;
    background-color: #f8a234;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
  }

  .contactodesi:hover{
    opacity: 0.8;
  }
  .ranknombre{
    font-size: 20px;
    cursor: pointer;
    font-weight: bold
  }
  .ranknombre:hover{
    text-decoration: underline;
  }
  .txtdesigner{
    font-size: 15px;
  }
  .diseñocss{
    text-align: center;
    width: auto;
    margin: auto;
    height: 95%;
    transition: .3s;
  }

  #li-result{
      list-style: none;
  }
  #contenedorresultados{
    margin-top: 5%;
    width: 100%;
    height: auto;
  }