#cuerporanking{
    height: 300px;
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
  }
  .Designernum1{
    display: flex;
    height: 250px;
    width: 100%;
    margin-top: 1%;
  }
  .Designernum1:nth-child(4){
    margin-bottom: 6%;
  }
  
  .Rankdesc{
    width: 20%;
    height: 100%;
  }
  .Rankdise1{
    width: 20%;
    height: 100%;
  }

  .contactodesi{
    padding: 10px;
    background-color: #f8a234;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
  }

  .contactodesi:hover{
    opacity: 0.8;
  }
  .ranknombre{
    font-size: 20px;
    cursor: pointer;
    font-weight: bold
  }
  .ranknombre:hover{
    text-decoration: underline;
  }
  .txtdesigner{
    font-size: 15px;
  }
  .diseñocss{
    width: 90%;
    height: 80%;
    margin-left: 1%;
    transition: .5s;
  }
  .diseñocss:hover{
    box-shadow: 0 5px 8px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
  #li-result{
      list-style: none;
  }
  #contenedorresultados{
    margin-top: 5%;
    width: 100%;
    height: auto;
  }